* {
  padding: 0;
  margin: auto;
}

body {
  margin: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: #ffffff!important;
  text-align: center;
  padding-bottom: 90px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* FLEX CONTENT */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.forms {
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.heading {
  color: white;
}

.title {
  color: #175a00; 
  font-size: 72px; 
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: center;
  align-items: center;
  background-color: #a8dadc;
}

.signup-link {
  position:absolute; 
  top:35px;
  right:10px;
  color: #ff4411; 
  font-size: 24px; 
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.login-link {
  position:absolute;
  top:5px;
  right:10px;
  color: #ff4411; 
  font-size: 24px; 
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.logout-link {
  position:absolute;
  top:5px;
  right:10px;
  color: #ff4411; 
  font-size: 24px; 
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.search {
  padding: 20px;
  margin-top: 20px;

}

.search-headers {
  color: #f1faee; 
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap:wrap
  }

img {
  max-height: 420px;
  max-width: 320px;
}

.card-title {
  size: 48px;
  color: #ffffff;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 85px;
  align-items: center;
  font-size: 30px;
  text-decoration: none;
  color: black;
  background-color: #ff6b6b;
}

a {
  text-decoration: none;
  color: #ffffff!important;
}

.title-heading {
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: #457b9d!important;
}

.save-button {
  max-width: 150px;
}

.footerName {
  text-align: center;
  color: #f1faee;
}

.searchInput {
  text-align: center;
}

.saved {
  padding: 15px;
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
  color: #ff4411;
}

#title {
  color: #f1faee;
  font-size: 2rem;
}

.nav-link {
  color: #f1faee;
  font-size: larger;
}

.navbar-toggler-icon {
  color: black;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
 }

 .card-title {
   font-size: 2rem!important;
 }

 .btn-primary {
   background-color: #292f36!important;
 }

 .card {
   background-color: #4ecdc4!important;
 }

.card-group {
     display: block!important;
 }

 .red {
    background-color: #ff6b6b;
 }

 .empty {
  text-align: center;
 }

 